#root {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sr_only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.input-field {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}

.button {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  cursor: pointer;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
